@model NewsPreviewWithPaginationModel
@{
    ViewData["Title"] = "News";
}


<div class="row">
    @foreach (NewsPreviewModel newsModel in Model.NewsPreviews)
    {
        var newsWithPageModel = new NewsPreviewWithPageModel(newsModel, Model.PageInfo.PageNumber);
        await Html.RenderPartialAsync("NewsPreviewPartial", newsWithPageModel);
    }
</div>

<pagination-helper page-info="Model.PageInfo", page-action="Index"></pagination-helper>