@model UserAccountModel
@{
    ViewData["Title"] = $"Admin {Model.Username} account";
}


<div>

    <div>
        <b>Hi admin @Model.Username!</b>
        <p>Your email: @Model.Email</p>
    </div>

    <div>
        <a class="btn btn-secondary" role="button" asp-action="Update" asp-controller="News">Update news</a>
    </div>
</div>
